<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

        <title>{% block title %}{% endblock %}This is {{ name }} Website</title>
    {% endblock %}

</head>
<body>
<div id="main_menu">
<h1><span class="CenterGothic">P</span>arth's Homepage</h1>
</div>
<div id ="main_content" >
    <p>
    <span class="red makeBigger CenterGothic">L</span>orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Commodo odio aenean sed adipiscing diam donec adipiscing. In hac habitasse platea dictumst quisque sagittis
    purus. Pharetra sit amet aliquam id diam maecenas ultricies. Ante in nibh mauris cursus mattis molestie a iaculis.
    Semper feugiat nibh sed pulvinar proin gravida. Risus sed vulputate odio ut enim blandit volutpat. Ac feugiat sed
    lectus vestibulum mattis ullamcorper velit sed ullamcorper. Feugiat scelerisque varius morbi enim nunc faucibus a
    pellentesque. Tempus iaculis urna id volutpat lacus laoreet. Pulvinar pellentesque habitant morbi tristique.
    Accumsan lacus vel facilisis volutpat est velit egestas. Eu lobortis elementum nibh tellus molestie nunc non. Quis
    blandit turpis cursus in. Amet est placerat in egestas erat imperdiet.
</p>
    <p>

    Pharetra vel turpis nunc eget. Semper quis lectus nulla at volutpat diam. Vitae semper quis lectus nulla.
    Ullamcorper morbi tincidunt ornare massa. Quis blandit turpis cursus in hac habitasse platea dictumst quisque.
    Aliquet risus feugiat in ante metus dictum at. Vitae auctor eu augue ut lectus arcu bibendum at varius. Volutpat
    maecenas volutpat blandit aliquam. In arcu cursus euismod quis viverra. Ultrices dui sapien eget mi. Maecenas
    accumsan lacus vel facilisis. Pharetra pharetra massa massa ultricies mi. Faucibus scelerisque eleifend donec
    pretium. Pulvinar sapien et ligula ullamcorper malesuada. Nunc non blandit massa enim. Porttitor eget dolor morbi
    non arcu risus. Sed arcu non odio euismod lacinia at quis risus. Nec feugiat nisl pretium fusce id. Non diam
    phasellus vestibulum lorem sed. Lobortis mattis aliquam faucibus purus.
</p>
    <p>
    Porta nibh venenatis cras sed felis eget. Neque volutpat ac tincidunt vitae semper. Ornare aenean euismod elementum
    nisi. Ipsum dolor sit amet consectetur. Lectus urna duis convallis convallis tellus id. Neque vitae tempus quam
    pellentesque. Diam vel quam elementum pulvinar etiam non. Dolor morbi non arcu risus quis varius. Elit sed vulputate
    mi sit amet mauris. Imperdiet sed euismod nisi porta lorem mollis aliquam ut. Sem nulla pharetra diam sit amet.
    Tristique nulla aliquet enim tortor at auctor. Condimentum lacinia quis vel eros donec ac odio tempor orci.
    Elementum eu facilisis sed odio morbi.
</p>
    <p>
    Vitae ultricies leo integer malesuada nunc. Malesuada fames ac turpis egestas integer. Ullamcorper eget nulla
    facilisi etiam. Quam adipiscing vitae proin sagittis nisl rhoncus. Amet cursus sit amet dictum. Pellentesque sit
    amet porttitor eget dolor. Magnis dis parturient montes nascetur ridiculus mus mauris vitae. Bibendum est ultricies
    integer quis. Ante metus dictum at tempor commodo ullamcorper. Tortor posuere ac ut consequat semper viverra. Cras
    pulvinar mattis nunc sed blandit libero. In aliquam sem fringilla ut morbi.
</p>
    <p>
    In mollis nunc sed id semper risus in. In nibh mauris cursus mattis molestie a iaculis at. Nullam ac tortor vitae
    purus. Et netus et malesuada fames ac turpis. Aliquam sem et tortor consequat id. Id faucibus nisl tincidunt eget
    nullam non nisi est sit. Integer quis auctor elit sed. Venenatis tellus in metus vulputate eu scelerisque felis
    imperdiet. Nunc sed id semper risus in hendrerit gravida. Eu sem integer vitae justo eget magna. Eget mi proin sed
    libero enim sed faucibus turpis. Vitae elementum curabitur vitae nunc sed.
</p>

</div>





</body>
</html>
